<meta charset="UTF-8">
<div class="panel-head">
					<strong>列表</strong>
				</div>
				
				<table class="table table-hover">
					<tr>
						<th width="*">ID</th>
						<th width="*">课题号</th>
						<th width="*">课题名</th>
						<th width="*">课题类型</th>
						<th width="*">申请人</th>
						<th width="*">审核状态</th>
						<th width="100">操作</th>
					</tr>
					<tr th:each="r : ${managersubjects.rows}">
						<td><input type="checkbox" name="id" th:value="${r.id}" /></td>
						<td th:text="${r.subjectNo}"></td>
						<td th:text="${r.subjectName}"></td>
						<td th:text="${r.subjectType}"></td>
						<td th:text="${r.Teacher.teacherName}"></td>
						<td th:text="${r.subjectAStatus}"th:class="${r.subjectAStatus=='待审核'}?'text-red':''"></td>
						<td><a th:class="${r.subjectAStatus=='待审核'}?'button border-blue button-little':'text-gray'" th:onclick="${r.subjectAStatus=='待审核'} ? ${'loadMisManagerSubjectUpdateForm(''' + r.getId() + ''');'}:''">查看审核</a></td>
					</tr>
				</table>
				<div class="panel-foot text-center">
					<ul class="pagination">
						<li><a th:onclick="${managersubjects.page > 1} ? 'loadMisManagerSubjectLastPage();':''">
							<span th:class="${managersubjects.page == 1} ? 'text-gray':''">上一页</span>
						</a></li>
					</ul>
					<div class="button-group radio">
						<th:block th:each="i : ${#numbers.sequence(managersubjects.startPage, managersubjects.endPage)}">
						<label th:class="${managersubjects.page == i} ? 'button bg-white':'button'">
							<input name="page" th:value="${i}" th:checked="${i == managersubjects.page}" type="radio" onclick="loadMisManagerSubjectList(0);" th:text="${i}"/>
						</label>
						</th:block>
					</div>
					<ul class="pagination">
						<li><a th:onclick="${managersubjects.page < managersubjects.pages} ? 'loadMisManagerSubjectNextPage();':''">
							<span th:class="${managersubjects.page == managersubjects.pages} ? 'text-gray':''" >下一页</span>
						</a></li>
					</ul>
				</div>