<meta charset="UTF-8">
<div class="panel-head">
					<strong>列表</strong>
				</div>
				
				<table class="table table-hover">
					<tr>
						<th width="*">ID</th>
						<th width="*">课题名</th>
						<th width="*">课题描述</th>
						<th width="*">课题类型</th>
						<th width="*">指导老师</th>
						<th width="*">选取状态</th>
						<th width="100">操作</th>
					</tr>
					<tr th:each="r : ${studentsubjects.rows}">
					<p th:if="${r.subjectAStatus=='审核通过'}">
						<td><input type="checkbox" name="id" th:value="${r.id}" /></td>
						<td th:text="${r.subjectName}"></td>
						<td th:text="${r.subjectInfo}"></td>
						<td th:text="${r.subjectType}"></td>
						<td th:text="${r.Teacher.teacherName}"></td>
						<td th:text="${r.subjectSStatus}"th:class="${r.subjectSStatus=='待选取'}?'text-red':'text-gray'"></td>
						<td><a th:class="${r.subjectSStatus=='待选取'}?'button border-blue button-little':'text-gray'" th:onclick="${r.subjectSStatus=='待选取'} ? ${'loadMisStudentSubjectSelectForm(''' + r.getId() + ''');'}:''">查看并选取</a></td>
					</p>
					</tr>
				</table>
				<div class="panel-foot text-center">
					<ul class="pagination">
						<li><a th:onclick="${studentsubjects.page > 1} ? 'loadMisStudentSubjectLastPage();':''">
							<span th:class="${studentsubjects.page == 1} ? 'text-gray':''">上一页</span>
						</a></li>
					</ul>
					<div class="button-group radio">
						<th:block th:each="i : ${#numbers.sequence(studentsubjects.startPage, studentsubjects.endPage)}">
						<label th:class="${studentsubjects.page == i} ? 'button bg-white':'button'">
							<input name="page" th:value="${i}" th:checked="${i == studentsubjects.page}" type="radio" onclick="loadMisStudentSubjectList(0);" th:text="${i}"/>
						</label>
						</th:block>
					</div>
					<ul class="pagination">
						<li><a th:onclick="${studentsubjects.page < studentsubjects.pages} ? 'loadMisStudentSubjectNextPage();':''">
							<span th:class="${studentsubjects.page == studentsubjects.pages} ? 'text-gray':''" >下一页</span>
						</a></li>
					</ul>
				</div>