<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit" />
<title>老师主页</title>
<link rel="stylesheet" href="/css/pintuer.css" />
<link rel="stylesheet" href="/css/admin.css" />
<script src="/js/jquery.js"></script>
<script src="/js/jquery.form.min.js"></script>
<script src="/js/pintuer.js"></script>
<script src="/js/respond.js"></script>
<script src="/js/mis/teacherannouncement.js"></script>
<script>
	var basePath = "/";
	$(document).ready(function() {
		pintuer();
		// $(document).on('click', WoKit.hideDropMenu);
	});
</script>
<link type="image/x-icon" href="http://www.pintuer.com/favicon.ico"
	rel="shortcut icon" />
<link href="http://www.pintuer.com/favicon.ico" rel="bookmark icon" />
</head>
<body>
	<div class="lefter">
		<div class="logo">
			<span style="font-size:30px">毕业选题系统</span>
		</div>
	</div>
	<div class="righter nav-navicon" id="admin-nav">
		<div class="mainer">
			<div class="admin-navbar">
				<span class="float-right">
					<a class="button button-little bg-yellow" href="/logout">注销登录</a>
				</span>
				<ul class="nav nav-inline admin-nav">
				
				
					<!-- 个人信息管理 -->
					<li >
 						<a href="teacher" class="icon-gears"> 个人信息管理</a>
						<ul>
							<li class="active">
								<a href="teacherinfo"><span></span><span class="icon-child">个人资料</span></a>
							</li>
							<li>
								<a href="toUpdateTeacherPassword"><span></span><span class="icon-child"> 修改密码</span></a>
							</li>

						</ul>
					</li>
					<!-- 课题信息管理 -->
					<li>
 						<a href="teachersubject" class="icon-gears"> 课题信息管理</a>
						<ul>
							<li class="active">
								<a href="teachersubjects"><span></span><span class="icon-institution"> 我的课题</span></a>
							</li>
							<li>
								<a href="subject_apply"><span></span><span class="icon-institution">课题申请 </span></a>
							</li>
							<li>
								<a href="subject_selectinfo"><span></span><span class="icon-institution">课题评分 </span></a>
							</li>
							<li>
								<a href="subject_mark"><span></span><span class="icon-institution">学生成绩 </span></a>
							</li>
						</ul>
					</li>
					<!-- 文件与资料 -->
					<li>
 						<a href="teacherfile" class="icon-gears"> 文件与资料</a>
						<ul>
							<li class="active">
								<a href="totfindmanagerfile"><span></span><span class="icon-pencil"> 管理员资料</span></a>
							</li>
							<li>
								<a href="totfindstudentfile"><span></span><span class="icon-pencil"> 学生资料</span></a>
							</li>
						</ul>
					</li>
					<!-- 通知与公告 -->
					<li class="active">
 						<a href="teacherannouncement" class="icon-gears"> 通知与公告</a>
						<ul>
							<li class="active">
								<a href="teacherannouncement_list"><span></span><span class="icon-file-o"> 查看消息</span></a>
							</li>
						</ul>
					</li>
					
				</ul>
			</div>
			<div class="admin-bread">
				<span th:text="${session.woUser.account + '，您好，欢迎您的光临!'}"></span>
				
			</div>
		</div>
	</div>
</body>
</html>